.page-header
{
    background-color: rgb(93, 197, 245);
    padding: 50px;
    margin: -8px;
}
.logo
{
    width: 200px;
}

.title
{
    margin-bottom: -20px;
}

.date
{
    margin-top: -14px;
}

.main-img
{
    margin-bottom: -15px;
}

.second-p
{
    margin-top: -15px;
}
.giallo
{
    background:#FFFF00;
}
.list
{
    margin-left: -20px;
}
thead
{
    background-color: rgb(101, 163, 221);
    color: aliceblue;
    text-align:left;   
}

table
{
    margin-bottom: 30px;
}

footer
{
    color: aliceblue;
    text-align: center;
    background-color: rgb(5, 5, 95);
    padding: 2px;
    margin: -8px;
}