
.page-header
{
    background-color: rgb(93, 197, 245);
    padding: 50px;
    margin: -8px;
}
.logo
{
    width: 200px;
    margin-left: -35px;
    
}

.title
{
    margin-bottom: -20px;
}

.date
{
    margin-top: -14px;
    color: gray;
}

.main-img
{
    margin-bottom: -15px;
}

.second-p
{
    margin-top: -15px;
}
.giallo
{
    background:#FFFF00;
}
.list
{
    margin-left: -20px;
}
thead
{
    background-color: rgb(101, 163, 221);
    color: aliceblue;
    text-align:left;   
}
tr:hover 
{
    background-color: chocolate;
}
td, th
{
    padding: 15px;
}
table
{
    margin-bottom: 30px;
    width: 100%;
}

.prima-righa
{
    background-color: rgba(195, 212, 214, 0.801);
}
.terza-righa
{
    background-color: rgba(195, 212, 214, 0.801);
}
footer
{
    color: aliceblue;
    text-align: center;
    background-color: rgb(5, 5, 95);
    padding: 2px;
    margin: -8px;
}

main
{
    margin-left: 10px;
}